<div class="footer">
    <div class="row">
        <div class="col-sm-4">
            <h3 style="text-align:center;color:white;">Contact us </h3>
            <p>Address: 200 East 65th Street 17NO, New York</p>
            <p>Email: ReaLand@support.com</p>
            <p>Phone: (880)-288-3999</p>
            <p>Fax: (880)-288-3689</p>
        </div>
        <div class="col-sm-2">
            <h3 style="text-align: center; color:white;">Buy</h3>
            <p>Homes</p>
            <p>Open Houses</p>
            <p>New Listings</p>
            <p>Recently Reduced</p>
            <p>Off-Market Homes</p>

        </div>
        <div class="col-sm-2">
            <h3 style="text-align: center; color:white;">Sell</h3>
            <p>Sell your Home</p>
            <p>Get a Home Valuation </p>
            <p>Local Home Prices</p>
            <p>Sell</p>
            <p>Guides & Rules</p>
            <p>Others</p>

        </div>
        <div class="col-sm-2">
            <h3 style="text-align: center; color:white;">My RealLAND</h3>
            <p>Favourites</p>
            <p>Save Searches </p>
            <p>Setting</p>
            <p>Profile</p>
            <p>Join Us</p>


        </div>
        <div class="col-sm-2">
            <h3 style="text-align: center; color:white;">Real Estate</h3>
            <p>Jobs</p>
            <p>Management Team </p>
            <p>Feedback</p>
            <p>Sitemap</p>
            <p>Blog</p>


        </div>
    </div>

</div>
</div>
    </body>
</html>