{% include 'header.html' %}
{% load static %}
    <h3 style="text-align:center;">Our Services</h3>
    <div  class="container">
        <div class="row">
            <div class="ll">
            <p>Seven Real Estate Customer Service Best Practices And Principles For Agents And Firms</p>
        </div>
    </div>
    </div>

    <div  class="container">
                <div class="row">
                    <div class="aa">
                    <p>There's no industry where customer service (client service, if you prefer) is more essential than it is in real estate–an opinion I've found support for even as the list of industries and professional services niches for which I'm a customer service consultant and speaker has climbed above a dozen. In real estate, empathetic, patient customer service from a dedicated agent, supported by a skilled, polished, and motivated office staff, is a prerequisite for success. If you work in real estate, the principles and best practices I offer below will put you on your way to building a superior level of client service, thereby creating loyal customers, generating word of mouth marketing, and building passionate brand ambassadorship.
                        1. Respond quickly. Today’s real estate clients expect speedier service than did any generation before them. (Not only speedier than their parents expected, but even than they themselves expected this time last year.) As I often say, an hour represents a year in internet time; a prospective client who doesn’t hear from you the same morning or afternoon of their attempt to contact you may very well move on, on the assumption that you’re never going to get back to them.
                        2. Anticipate client wishes rather than just responding to them. When a client's wish is met before it’s been expressed, that sends the message that you care about the client as an individual. To achieve this requires aligning your systems and your people to anticipate what your clients want before they ask for it. This involves hiring staff based on key client-friendly traits (specifically: warmth, empathy, a bias toward teamwork, conscientiousness, and optimism), aligning your systems to center on what clients really want from your processes, and never, ever, thinking you can save effort by trying to treat everyone the same.</p>
                </div>
            </div>
            </div>
            <div  class="container">
                <div class="row">
                    <div class="pp">
                        <p>There's no industry Great service requires custom fitting. Every day, hour, and minute clients interact with your office. It’s a lot of work, but it’s well worth the effort: The cared-for feeling a client gets when their wishes are anticipated is where you will generate the fiercest loyalty. According to Carl Sussman, a realtor on Bainbridge Island, Washington, “If a client has to ask me to do something, I feel the need to apologize for not having already done it or had the conversation sooner. I never want the client to feel blindsided, confused or not informed during the transaction, or that I feel it’s okay to let them overlook something they need simply because they didn’t know enough to ask or didn’t remember to do so. It’s not up to them to know what they need; I’m the professional and need to bring all my experience to bear so that they never suffer from what they don’t know to ask for.”</p>
                    </div>
            </div>
            </div>
            <hr >
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
              <img src="{% static 'image/15.png' %}" alt="my image">
                        <h3 style="margin-left: 90px;">MR ENCLAVE</h3>
                        <h3 style="margin-left:60px;">1000-1200sq</h3>
                        <h3 style="margin-left:100px;">10,0000/-</h3>
                    </div>
                    <div class="col-sm-4">
              <img src="{% static 'image/15.png' %}" alt="my image">
                        <h3 style="margin-left: 90px;">MR ENCLAVE</h3>
                        <h3 style="margin-left:60px;">1000-1200sq</h3>
                        <h3 style="margin-left:100px;">10,0000/-</h3>
                    </div>
                    <div class="col-sm-4">
              <img src="{% static 'image/15.png' %}" alt="my image">
                        <h3 style="margin-left: 90px;">MR ENCLAVE</h3>
                        <h3 style="margin-left:60px;">1000-1200sq</h3>
                        <h3 style="margin-left:100px;">10,0000/-</h3>
                    </div>
                </div>
                </div>
{% include 'footer.html' %}