{% include 'header2.html' %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<style>
        a{color:white;}

</style>
<body>
<div class="col-sm-6">
 <img src="{% static 'image/37.jpg' %}" alt="my image" style="height:350px; width:850px;">

</div>
    <div class="col-sm-6" style="background-color:#337AB7;color:white;border-radius:10px; width:620px;  ">
<table   border="1px" >
<tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Confirm Password</th>
        <th>Select Member</th>
        <th>Mobile</th>
        <th>Delete</th>
        <th>Update</th>
</tr>
        {% for i in fetch %}

<tr>
         <td>{{i.id}}</td>
        <td>{{i.Name}}</td>
        <td>{{i.Email}}</td>
        <td>{{i.Password}}</td>
        <td>{{i.Confirm_Password}}</td>
        <td>{{i.Select_Member}}</td>
        <td>{{i.Mobile}}</td>

          <td><a href="delete4/{{ i.id }}" style="color:white;">Delete</a></td>
         <td><a href="update4/{{ i.id }}" style="color:white;">Update</a></td>

        {% endfor %}
</tr>
</table>
</div>
</body>
</html>